@media only screen and (max-width: 600px) {
   
}
.navbar {
  display: flex;
  padding: 17px 0;
  width: 100%;
  justify-content: space-evenly;

}
a{
    text-decoration: none;
    color:black;

    display: flex;
    align-items: center;
}
a:hover{
    color:  rgb(0, 127, 255);
}